In [1]:
try:
    import kaggle
    print("Kaggle is already installed.")
except ImportError:
    print("Kaggle is not installed. Installing now...")
    !pip install kaggle

from kaggle.api.kaggle_api_extended import KaggleApi
import os
import shutil
import pandas as pd
import json

try:
    import mysql.connector
    from mysql.connector import Error
    print("MySQL is already installed.")
except:
    print("MYSQL is not installed. Installing now...")
    !pip install mysql-connector-python
    import mysql.connector
    from mysql.connector import Error
try:
    from sqlalchemy import create_engine
    print("SQLAlchemy is already installed")
except:
    print("Installing now...")
    !pip install sqlalchemy
    from sqlalchemy import create_engine
    
try:
    import pymysql
    print("pymysql is already installed")
except:
    print("Installing now...")
    !pip install pymysql
    import pymysql

Kaggle is already installed.
MySQL is already installed.
SQLAlchemy is already installed
pymysql is already installed

In [2]:
api = KaggleApi()
api.authenticate()

In [3]:
sales_datasets = api.dataset_list(search = 'sales')

In [4]:
sales_datasets

[aungpyaeap/supermarket-sales,
 mikhail1681/walmart-sales,
 ihelon/coffee-sales,
 karkavelrajaj/amazon-sales-dataset,
 gregorut/videogamesales,
 rohitsahoo/sales-forecasting,
 syedanwarafridi/vehicle-sales-data,
 ishanshrivastava28/superstore-sales,
 hosubjeong/bakery-sales,
 aslanahmedov/walmart-sales-forecast,
 kyanyoga/sample-sales-data,
 new-york-city/nyc-property-sales,
 mohammadtalib786/retail-sales-dataset,
 gagandeep16/car-sales,
 ddosad/auto-sales-data,
 thedevastator/unlock-profits-with-e-commerce-sales-data,
 milanzdravkovic/pharma-sales-data,
 matinmahmoudi/sales-and-satisfaction,
 missionjee/car-sales-report,
 xontoloyo/data-penjualan-zara]

In [5]:
# Create a folder
folder_name = "dataset"
if os.path.exists(folder_name+'/'):
    shutil.rmtree(folder_name)
os.mkdir(folder_name)
print(f"Folder '{folder_name}' created successfully.")

Folder 'dataset' created successfully.

In [6]:
for sales in sales_datasets:
    print(sales)
    api.dataset_download_files(sales.ref, path = 'dataset/', unzip = True)

aungpyaeap/supermarket-sales
Dataset URL: https://www.kaggle.com/datasets/aungpyaeap/supermarket-sales
mikhail1681/walmart-sales
Dataset URL: https://www.kaggle.com/datasets/mikhail1681/walmart-sales
ihelon/coffee-sales
Dataset URL: https://www.kaggle.com/datasets/ihelon/coffee-sales
karkavelrajaj/amazon-sales-dataset
Dataset URL: https://www.kaggle.com/datasets/karkavelrajaj/amazon-sales-dataset
gregorut/videogamesales
Dataset URL: https://www.kaggle.com/datasets/gregorut/videogamesales
rohitsahoo/sales-forecasting
Dataset URL: https://www.kaggle.com/datasets/rohitsahoo/sales-forecasting
syedanwarafridi/vehicle-sales-data
Dataset URL: https://www.kaggle.com/datasets/syedanwarafridi/vehicle-sales-data
ishanshrivastava28/superstore-sales
Dataset URL: https://www.kaggle.com/datasets/ishanshrivastava28/superstore-sales
hosubjeong/bakery-sales
Dataset URL: https://www.kaggle.com/datasets/hosubjeong/bakery-sales
aslanahmedov/walmart-sales-forecast
Dataset URL: https://www.kaggle.com/datasets/aslanahmedov/walmart-sales-forecast
kyanyoga/sample-sales-data
Dataset URL: https://www.kaggle.com/datasets/kyanyoga/sample-sales-data
new-york-city/nyc-property-sales
Dataset URL: https://www.kaggle.com/datasets/new-york-city/nyc-property-sales
mohammadtalib786/retail-sales-dataset
Dataset URL: https://www.kaggle.com/datasets/mohammadtalib786/retail-sales-dataset
gagandeep16/car-sales
Dataset URL: https://www.kaggle.com/datasets/gagandeep16/car-sales
ddosad/auto-sales-data
Dataset URL: https://www.kaggle.com/datasets/ddosad/auto-sales-data
thedevastator/unlock-profits-with-e-commerce-sales-data
Dataset URL: https://www.kaggle.com/datasets/thedevastator/unlock-profits-with-e-commerce-sales-data
milanzdravkovic/pharma-sales-data
Dataset URL: https://www.kaggle.com/datasets/milanzdravkovic/pharma-sales-data
matinmahmoudi/sales-and-satisfaction
Dataset URL: https://www.kaggle.com/datasets/matinmahmoudi/sales-and-satisfaction
missionjee/car-sales-report
Dataset URL: https://www.kaggle.com/datasets/missionjee/car-sales-report
xontoloyo/data-penjualan-zara
Dataset URL: https://www.kaggle.com/datasets/xontoloyo/data-penjualan-zara

In [7]:
df_supermarket = pd.read_csv('dataset/supermarket_sales - Sheet1.csv')
df_supermarket.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [8]:
df_walmart = pd.read_csv('dataset/Walmart_Sales.csv')
df_walmart.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [9]:
dataset_columns = {}
dataset_columns['supermarket_sales - Sheet1.csv'] = []
dataset_columns['Walmart_Sales.csv'] = []
dataset_columns['index.csv'] = []
dataset_columns['amazon.csv'] = []
dataset_columns['vgsales.csv'] = []
dataset_columns['train.csv'] = []
dataset_columns['Superstore.csv'] = []
dataset_columns['car_prices.csv'] = []
dataset_columns['Superstore.xlsx'] = []
dataset_columns['Bakery price.csv'] = []
dataset_columns['Bakery Sales.csv'] = []
dataset_columns['features.csv'] = []
dataset_columns['stores.csv'] = []
dataset_columns['test.csv'] = []
dataset_columns['nyc-rolling-sales.csv'] = []
dataset_columns['sales_data_sample.csv'] = []
dataset_columns['Car_sales.csv'] = []
dataset_columns['retail_sales_dataset.csv'] = []
dataset_columns['Auto Sales data.csv'] = []
dataset_columns['Amazon Sale Report.csv'] = []
dataset_columns['Cloud Warehouse Compersion Chart.csv'] = []
dataset_columns['Expense IIGF.csv'] = []
dataset_columns['International sale Report.csv'] = []
dataset_columns['May-2022.csv'] = []
dataset_columns['P  L March 2021.csv'] = []
dataset_columns['Sale Report.csv'] = []
dataset_columns['salesdaily.csv'] = []
dataset_columns['saleshourly.csv'] = []
dataset_columns['salesmonthly.csv'] = []
dataset_columns['salesweekly.csv'] = []
dataset_columns['Sales_with_NaNs_v1.3.csv'] = []
dataset_columns['Sales_without_NaNs_v1.3.csv'] = []
dataset_columns['zara.csv'] = []
dataset_columns['Car Sales.xlsx - car_data.csv'] = []

In [10]:
# df_superstore = pd.read_csv('dataset/Superstore.csv', encoding='latin-1')
for key in dataset_columns:
    if '.csv' in key:
        read_sucess = False
        while not read_sucess:
            print('dataset/'+key)
            try:
                dataset_columns[key] = pd.read_csv('dataset/'+key).columns.to_list()
                read_sucess = True
            except Exception as e:
                dataset_columns[key] = pd.read_csv('dataset/'+key, encoding = 'latin-1').columns.to_list()
                read_sucess = True

dataset/supermarket_sales - Sheet1.csv
dataset/Walmart_Sales.csv
dataset/index.csv
dataset/amazon.csv
dataset/vgsales.csv
dataset/train.csv
dataset/Superstore.csv
dataset/car_prices.csv
dataset/Bakery price.csv
dataset/Bakery Sales.csv
dataset/features.csv
dataset/stores.csv
dataset/test.csv
dataset/nyc-rolling-sales.csv
dataset/sales_data_sample.csv
dataset/Car_sales.csv
dataset/retail_sales_dataset.csv
dataset/Auto Sales data.csv
dataset/Amazon Sale Report.csv

/var/folders/jw/rknyb_hs2b50h1tpl5kq9_280000gp/T/ipykernel_11802/1986736062.py:8: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset_columns[key] = pd.read_csv('dataset/'+key).columns.to_list()

dataset/Cloud Warehouse Compersion Chart.csv
dataset/Expense IIGF.csv
dataset/International sale Report.csv
dataset/May-2022.csv
dataset/P  L March 2021.csv
dataset/Sale Report.csv
dataset/salesdaily.csv
dataset/saleshourly.csv
dataset/salesmonthly.csv
dataset/salesweekly.csv
dataset/Sales_with_NaNs_v1.3.csv
dataset/Sales_without_NaNs_v1.3.csv
dataset/zara.csv
dataset/Car Sales.xlsx - car_data.csv

In [11]:
with open('dataset_col.json', 'w') as json_file:
    json.dump(dataset_columns, json_file)

In [12]:
relevant_data = {'supermarket_sales - Sheet1.csv': {
                                'store_id' : 1,
                                'relevant_columns' :['Product line', 'Date', 'Quantity', 'Unit price', 'Total', 'City'],
                                'column_rename' : {
                                    'Product line': 'product_category',
                                    'Date' : 'purchase_date',
                                    'Quantity' : 'purchase_quantity',
                                    'Unit price': 'unit_price',
                                    'Total' : 'total_price',
                                    'City' : 'city'
                                }
    
                            }, 
                 'Superstore.csv' : {
                         'store_id': 2,
                         'relevant_columns' :['Category','Order Date', 'Quantity','Sales','City'],
                         'column_rename' : {
                             'Category' : 'product_category',
                             'Order Date' : 'purchase_date',
                             'Quantity' : 'purchase_quantity',
                             'Sales' : 'total_price',
                             'City' : 'city'
                         }
                     },
                 'sales_data_sample.csv': {
                         'store_id' :3,
                         'relevant_columns' :['PRODUCTLINE','ORDERDATE','QUANTITYORDERED','MSRP','SALES','CITY' ],
                         'column_rename' : {
                             'PRODUCTLINE' : 'product_category',
                             'ORDERDATE' : 'purchase_date', 
                             'QUANTITYORDERED' : 'purchase_quantity',
                             'MSRP' : 'unit_price',
                             'SALES' : 'total_price',
                             'CITY' : 'city'
                         }    
                     },
                 'retail_sales_dataset.csv': {
                     'store_id' : 4,
                     'relevant_columns' :['Product Category','Date', 'Quantity', 'Price per Unit', 'Total Amount'],
                     'column_rename' : {
                         'Product Category' : 'product_category',
                         'Date' : 'purchase_date',
                         'Quantity' : 'purchase_quantity',
                         'Price per Unit' : 'unit_price',
                         'Total Amount' : 'total_price'
                     }
                },
                 'Amazon Sale Report.csv': {
                     'store_id' : 5,
                     'relevant_columns' :['Category', 'Date','Qty','Amount','ship-city'],
                     'column_rename' : {
                         'Category' : 'product_category',
                         'Date' : 'purchase_date',
                         'Qty' : 'purchase_quantity',
                         'Amount' : 'total_price',
                         'ship-city' : 'city'
                     }
                     
                 }
                }

In [13]:
def create_connection(host, user, password, database, port):

    try:
        print("trying to establish the connection")
        conn = mysql.connector.connect(
            host = host,
            user = user,
            password = password,
            database = database,
            port = port
        )

        if conn.is_connected():
            print("Connected Sucessfully")
            return conn

    except Error as e:
        print(f"Error: {e}")
        return None

In [14]:
host = "REPLACEME"
user = "REPLACEME"
password = "REPLACEME"
database = "REPLACEME"
port = "REPLACEME"

In [17]:
conn = create_connection(host, user, password, database, port)

create_table_query = """
                        DROP TABLE IF EXISTS sales;

                        CREATE TABLE IF NOT EXISTS sales (
                            store_id INT,
                            product_category VARCHAR(100),
                            purchase_date DATETIME,
                            purchase_quantity FLOAT,
                            unit_price FLOAT,
                            total_price FLOAT,
                            city VARCHAR(50)
                        );
                    """

cursor = conn.cursor(buffered=True)
cursor.execute(create_table_query)
cursor.reset()
cursor.close()
conn.close()

trying to establish the connection
Connected Sucessfully

In [19]:
df_tempread = pd.DataFrame()


database_uri = "mysql+pymysql://{}:{}@{}:{}/{}".format(user,password,host,port,database)
engine = create_engine(database_uri)

for key in relevant_data:
    read_sucess = False
    while not read_sucess:
        try:
            df_tempread = pd.read_csv('dataset/'+key)
            read_sucess = True
        except Exception as e:
            df_tempread = pd.read_csv('dataset/'+key, encoding = 'latin-1')
            read_sucess = True
            
    relevant_columns = relevant_data[key]['relevant_columns']
    df_tempread = df_tempread[relevant_columns]
    store_id = relevant_data[key]['store_id']
    df_tempread['store_id'] = store_id
    rename_columns = relevant_data[key]['column_rename']
    df_tempread.rename(columns=rename_columns, inplace=True)
    df_tempread['purchase_date'] = pd.to_datetime(df_tempread['purchase_date'], errors='coerce', dayfirst=True)
    try:
        df_tempread.to_sql("sales", con=engine, if_exists='append', index=False)
        print("Sucessfully written")
    except Error as e:
        print(e)
        break

engine.dispose()

Sucessfully written
Sucessfully written

/var/folders/jw/rknyb_hs2b50h1tpl5kq9_280000gp/T/ipykernel_11802/2469376408.py:23: UserWarning: Parsing dates in %m/%d/%Y %H:%M format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_tempread['purchase_date'] = pd.to_datetime(df_tempread['purchase_date'], errors='coerce', dayfirst=True)

Sucessfully written

/var/folders/jw/rknyb_hs2b50h1tpl5kq9_280000gp/T/ipykernel_11802/2469376408.py:23: UserWarning: Parsing dates in %Y-%m-%d format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  df_tempread['purchase_date'] = pd.to_datetime(df_tempread['purchase_date'], errors='coerce', dayfirst=True)

Sucessfully written

/var/folders/jw/rknyb_hs2b50h1tpl5kq9_280000gp/T/ipykernel_11802/2469376408.py:11: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df_tempread = pd.read_csv('dataset/'+key)
/var/folders/jw/rknyb_hs2b50h1tpl5kq9_280000gp/T/ipykernel_11802/2469376408.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_tempread['purchase_date'] = pd.to_datetime(df_tempread['purchase_date'], errors='coerce', dayfirst=True)

Sucessfully written

In [20]:
conn = create_connection(host, user, password, database, port)
cursor = conn.cursor();
cursor.execute("SELECT * FROM sales;")
sales_result = cursor.fetchall();
cursor.close()
conn.close()

trying to establish the connection
Connected Sucessfully

In [21]:
print(sales_result[0])

(1, 'Health and beauty', datetime.datetime(2019, 1, 5, 0, 0), 7.0, 74.69, 548.971, 'Yangon')

In [32]:
engine = create_engine(database_uri)
select_query = """
                    SELECT * FROM (SELECT store_id, product_category,purchase_date, unit_price, total_price, city,
                    CASE
                        WHEN purchase_quantity IS NOT NULL 
                            THEN purchase_quantity
                        WHEN  unit_price  IS NOT NULL AND unit_price > 0 AND  total_price IS NOT NULL
                            THEN total_price/unit_price
                        ELSE
                            NULL
                    END quantity
                    FROM sales) as s
                    WHERE quantity IS NOT NULL
"""

df_sales = pd.read_sql(select_query, con=engine)

In [33]:
df_sales.to_csv("Sales.csv", index = False)